.main-image {
    width: 30vh;
    height: auto;
}
.body{
    height: 80vh;
    background-color: white;
}

.main-text{
    color: black;
    font-size: 5vh;
    font-weight: bold;
}

.main-text:hover{
    color: #3a53ff;
    font-size: 7vh;
    font-weight: bold;
}